<?xml version="1.0" encoding="utf-8"?>

<!-- 如需使用 web.config 轉換的詳細資訊，請前往 https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
  <add name="MPB.MTNET.M2.DataAccessLayer" connectionString="Data source=10.24.201.5,2433;Initial Catalog=M2DB;Persist Security Info=True;User ID=om_apiuser;Password=OoMm#0528;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
	<add name="MPB.MTNET.SAL.DataAccessLayer" connectionString="Data source=10.24.201.5,2433;Initial Catalog=M2MICSDB;Persist Security Info=True;User ID=om_apiuser;Password=OoMm#0528;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="webpages:Enabled" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ClientValidationEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DataBaseType" value="MSSQL" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="APId" value="EL" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="APKey" value="9a82e321-aca8-4849-83ff-8dcebeca3f8b" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiGateWay" value="http://T097-AMSSO/AM/api/ApiGateway" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LogAppMessage" value="http://T101-SAL/api/LogAppMessage" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="OMApi" value="http://T096-IXBM/OM/api" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SSOApi" value="http://T097-AMSSO/SSO/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EFApi" value="http://10.24.201.75:6666/FlowEngine/json/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EPApi" value="http://10.24.201.86/MPB.MTNET.MICS.EP.Api/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="EPWeb" value="http://10.24.201.105/MPB.MTNET.BS.Web/BS02/PrintBill/?" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MDMApi" value="http://10.24.201.86/MPB.MTNET.MICS.MDM.Api/api/MDMRequest/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!--空白代表直接關閉-->
    <add key="Logout" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!--系統上傳檔案的位置，參數檔+功能名稱，例如：C:\MT\UploadFilePath\MT010101\abc.docx-->
    <add key="UploadFilePath" value="D:\WebApps\MPB.MTNET.EL.Web\UploadFile\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!--系統上傳檔案的位置，參數檔+功能名稱，例如：C:\MT\TmpFile\MT010101\abc.docx-->
    <add key="UploadTmpFilePath" value="D:\WebApps\MPB.MTNET.EL.Web\UploadTmpFile\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!--系統上傳檔案的位置，參數檔+功能名稱，例如：C:\MT\TemplatePath\MT010101.docx-->
    <add key="TemplatePath" value="D:\WebApps\MPB.MTNET.EL.Web\Template\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!--系統上傳檔案的位置，參數檔+功能名稱，例如：C:\MT\TempPath\MT010101.docx-->
    <add key="TempPath" value="D:\WebApps\MPB.MTNET.EL.Web\Temp\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      
      在下面的範例中，"Replace" 轉換將會取代 web.config 檔案
      的整個 <customErrors> 區段。
      請注意，因為在 <system.web> 節點之下 
      只有一個 customErrors 區段，所以不需要使用 "xdt:Locator" 屬性。
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>