<?xml version="1.0" encoding="utf-8"?>

<!-- 如需使用 web.config 轉換的詳細資訊，請前往 https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="MPB.MTNET.M2.DataAccessLayer" connectionString="Data source=10.24.24.22,2433;Initial Catalog=M2DB;Persist Security Info=True;User ID=om_apiuser;Password=OoMm#0528;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="webpages:Enabled" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ClientValidationEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DataBaseType" value="MSSQL" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="APId" value="MT" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="APKey" value="93ce07fd-15ca-497c-a898-6813bf04151f" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiGateWay" value="http://V074-AMSSO/AM/api/ApiGateway" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LogAppMessage" value="http://V068-SAL/api/LogAppMessage" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="OMApi" value="http://V071-EPEDMDOMRP/OM/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SSOApi" value="http://V074-AMSSO/SSO/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EFApi" value="http://V065-ODPEFOWF:6666/FlowEngine/json/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EPApi" value="http://V071-EPEDMDOMRP/MPB.MTNET.MICS.EP.Api/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="EPWeb" value="http://Z084-BS-Web/MPB.MTNET.BS.Web/BS02/PrintBill/?" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--空白代表直接關閉-->
    <add key="Logout" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!--系統上傳檔案的位置，參數檔+功能名稱，例如：C:\MT\UploadFilePath\MT010101\abc.docx-->
    <add key="UploadFilePath" value="C:\MT\UploadFilePath\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!--系統上傳檔案的位置，參數檔+功能名稱，例如：C:\MT\TmpFile\MT010101\abc.docx-->
    <add key="UploadTmpFilePath" value="C:\MT\TmpFile\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!--系統上傳檔案的位置，參數檔+功能名稱，例如：C:\MT\TemplatePath\MT010101.docx-->
    <add key="TemplatePath" value="C:\MT\TemplatePath\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!--系統上傳檔案的位置，參數檔+功能名稱，例如：C:\MT\TempPath\MT010101.docx-->
    <add key="TempPath" value="C:\MT\TempPath\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      
      在下面的範例中，"Replace" 轉換將會取代 web.config 檔案
      的整個 <customErrors> 區段。
      請注意，因為在 <system.web> 節點之下 
      只有一個 customErrors 區段，所以不需要使用 "xdt:Locator" 屬性。
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>