<div class="page-header">
    @*<div class="page-title">
        <h3>@ViewBag.Title</h3>
        <span>@ViewBag.SubTitle</span>
    </div>*@
</div>
@*<div class="alert alert-info fade in">
    <i class="icon-remove close" data-dismiss="alert"></i>
    This are examples of full width input fields. Please find select-boxes and other things below.
								
</div>*@
